*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
:root {
  --main-color: #034c3c;
  --secondary-color: #d2b48c;
  --white-color: #f8f8f8;
  --black-color: #2b3344;
  --white-alt-color: #cdd5d1;
}

a {
  display: block;
  color: var(--black-color);
}

.page-structure {
  display: flex;
  min-height: 100vh;
}

nav.main-navigation {
  padding: 1.25rem;
  background-color: var(--white-alt-color);
}

nav.main-navigation * {
  color: var(--black-color);
}

nav.main-navigation .logo-link {
  text-align: center;
  font-size: 2rem;

  margin-bottom: 6rem;
}

nav.main-navigation ul a {
  font-size: 1.25rem;
  display: flex;
  justify-content: space-between;
  gap: 1rem;

  margin-bottom: 3.5rem;
}
@media (max-width: 992px) {
  .logo-link img {
    width: 30px;
    height: 30px;
    font-size: 1.25rem;
  }
  nav.main-navigation {
    padding: 0.4rem;
  }
  nav.main-navigation ul a {
    justify-content: center;
  }
  nav.main-navigation ul a span {
    display: none;
  }
}
